{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Agregar Mano de Obra
{% endblock title %}


{% block content %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Mano de obra directa
                </h4>
            </div>
            <div class="card-body">
            <form action="." method="post">
            {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-block btn-primary" type="submit" value="Agregar">
            </form>
            </div>
        </div>
    </div>
{% endblock content %}